.main {}

.test {
    /* background-color: orange; */
}

/* ------------------------------------ */
/* UTILITY CLASSE */
/* ------------------------------------ */
.hidden {
    display: none;
}





/* ------------------------------------ */
/* REUSABLE THINGS */
/* ------------------------------------ */
.callnow_button_inverted {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 3rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

.callnow_button_text_inverted {
    color: #53891b;
    margin-top: .1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}


/* ------------------------------------ */
/* LANDING GROUP */
/* ------------------------------------ */


.landingContainer {
    position: relative;
    height: 40rem;
}

.landingBackground {
    object-position: center;
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    z-index: 0;
    opacity: .5;
}


.landingContentWrapper {
    /* background-color: gray; */

}

.logoContainer {
    height: 4rem;
    /* background-color: gray; */
}

.logo {
    width: auto;
    height: 100%;
    object-fit: cover;
}



.videoTextWrapper {
    height: 3.5rem;
    width: 100%;
}

.videoText {
    font-family: 'Bebas Neue';
    font-size: 2rem;
}

.videoContainer {
    height: 32rem;
    /* background-color: red; */

}

.videoWrapper {
    /* border: 1px solid red; */
    position: relative;
}

.videoPlayer {
    height: 25rem;
    width: 14.0625rem;
    /* height: 27rem;
    width: 15.1875rem; */
}

.videoPlayButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 6rem;
    width: auto;
}

.videoText {}

.callnowContainer {
    margin-top: 1.2rem;
    text-align: center;
}

.callnow_text {
    font-size: 1.5rem;
    font-family: 'Bebas Neue'
}

.callnow_button {
    width: 100%;
    background-color: #8ED941;
    color: black;

    border-radius: 3px;
    border: none;
    height: 3rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

.callnow_button_text {
    margin-top: .1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}


/* ------------------------------------ */
/* about GROUP */
/* ------------------------------------ */

.aboutContainer {
    height: 28rem;
    padding: 1rem;
    padding-top: 1.75rem;
    /* padding-bottom: 2rem; */
    font-family: "Montserrat";
}




.about_header {

    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.about_header_emphasis {
    font-style: italic;
    color: #3ac210;
}

.about_subHeader {
    margin-top: .7rem;
}

.about_subHeader1 {
    font-size: .8rem;
    font-weight: light;
    color: gray
}

.about_subHeader2 {
    font-weight: bold;
    font-size: .8rem;
}


.about_ctaWrapper {
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
    width: 100%;
    text-align: center;
}

.about_cta {
    text-decoration: underline;
    color: #53891b;
    font-size: .8rem;
    font-weight: bold;

}


.happyFamilyWrapper {
    padding: 3px;
    border: 1px solid #53891b;

    /* display: inline-block; */
    float: left;
    margin-right: .7rem;
}

.happyFamily {
    height: 7rem;
    width: auto;
    object-fit: cover;
}

/* .about_hr {
    width: 100%;
    height: 8px;
    background-color: red;
} */

.about_bio {}




/* --------------------------------- */
/* PRIDE */
/* --------------------------------- */

.prideContainer {
    background-color: #8ED941;
    height: 50.5rem;
    text-align: center;

    color: black;
}

.pride_header {
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.reasonContainer {
    margin-bottom: .7rem;
}

.reasonGroupContainer {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 1.5rem;
}

.reason_icon {}

.reason_header {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: .1rem;
    line-height: 1.3
}

.reason_body {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: .8rem;
}



/* --------------------------------- */
/* LEARN MORE ABOUT RATS */
/* --------------------------------- */

.learnMoreContainer {
    height: 120rem;
    /* background-color: red; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    font-family: "Montserrat"
}

.learnMore_header {
    margin-bottom: 1.3rem;
    color: #53891b;
    font-size: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


.ratFact {
    margin-bottom: 1.5rem;
}

.ratFact_imgWrapper {
    padding: 3px;
    border: 1px solid #53891b;
    float: left;
    margin-right: .7rem;
}

.ratFact_img {
    height: 7rem;
    width: auto;
    object-fit: cover;
}

.ratFact_header {
    color: #53891b;
    font-weight: 600;
    font-size: .9rem;
}

.ratFact_body {
    font-size: .6rem;
    color: #404040;
}

.learnMore_ctaWrapper {
    width: 100%;
}


/* --------------------------------- */
/* FOOTER */
/* --------------------------------- */

.footer {
    background-color: #8ED941;
}

.footer_logoWrapper {
    height: 4rem;
    width: 100%;
    margin-bottom: 1rem;
}

.footer_logo {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.footer_list {
    width: 100%;
}

.footer_listItem {}

.footer_link {
    text-decoration: underline;
    font-weight: 500;
}

.footer_copyright {
    color: black;
    font-size: .6rem;
    font-weight: light;
}