.landingWrapper {}

.landingContainer {
    position: relative;
    height: 33rem;
    width: 100%;
    /* height: 100%; */
}

.landingBackground {
    object-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    z-index: 0;
    opacity: .5;
}


.landingContentWrapper {
    /* background-color: gray; */

}

.logoContainer {
    height: 3.5rem;
    /* background-color: gray; */
}

.logo {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.videoTextWrapper {
    margin-top: -.4rem;
}

.videoText {
    font-family: 'Bebas Neue';
    font-size: 1.6rem;
}

.callnowContainer {
    margin-top: .4rem;
    text-align: center;
}

.callnow_text {
    font-size: 1.4rem;
    font-family: 'Bebas Neue'
}